<!DOCTYPE html>
<html>

<head>
  <title>Food Delivery Feedback!</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <h1>Welcome to our feedback system</h1>
  <h2>Please tell us how your meal went so we can do even better next time!</h2>
  <div id="app">

    <div>
      <table>
        <thead>
          <th>Order ID</th>
          <th>Feedback</th>
        </thead>

        <tbody>
          <tr v-for="order in orders">
            <td> {{ order.order_id }} </td>
            <td v-if="order.feedback_submitted"> Thanks for sharing your feedback! </td>
            <td v-if="!order.feedback_submitted"> <button v-on:click="handleClick(order.order_id)">Submit Feedback</button> </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Here is where I need to add the modal. Also need to modify the code to show only for the clicked order -->

    <form v-if="showForm==true" @submit.prevent="handleSubmit(itemRatableId, orderRatableId)">

      <h1>How was the food?</h1>

      <div style="display:none">
        {{itemRatableId = [] }}
        {{orderRatableId = order.order_id}}
      </div>

      <div v-for="(order_item, index) in order.order_items">

        <div style="display:none">
          {{itemRatableId.push (order_item.order_item_id) }}
        </div>

        <h2> {{ order_item.name }} </h2>

        <input type="hidden" ref="ratableType" value="OrderItem">

        <input type="radio" id="good" value=1 v-model="formData.feedbacks[index+1].rating">
        <label for="good">Good</label>
        <input type="radio" id="bad" value=-1 v-model="formData.feedbacks[index+1].rating">
        <label for="bad">Bad</label>

        <br>

        <span>Comment:</span>
        <br>
        <textarea v-model="formData.feedbacks[index+1].comment" placeholder="add multiple lines"></textarea>

      </div>

      <h1>What about the delivery?</h1>
      <h2> Courier </h2>

      <!-- Previously used this to send hidden info -->
      <!-- <input type="hidden" ref="ratableId" value={{order.order_id}}> -->
      <!-- <input type="hidden" ref="ratableType" value="DeliveryOrder"> -->

      <input type="radio" id="good" value=1 v-model="formData.feedbacks[0].rating">
      <label for="good">Good</label>
      <input type="radio" id="bad" value=-1 v-model="formData.feedbacks[0].rating">
      <label for="bad">Bad</label>

      <br>

      <span>Comment:</span>
      <br>
      <textarea v-model="formData.feedbacks[0].comment" placeholder="add multiple lines"></textarea>

      <button type="submit">Submit</button>

    </form>

  </div>

  <script>
    // GET from API

    fetch("https://food-delivery-api.herokuapp.com/orders").then(function(response) {
      if (!response.ok) {
        throw Error(response.statusText)
      }
      return response
    }).then(results => results.json()).then(res => {

      console.log(res.orders)

      var app = new Vue({
        el: '#app',
        data: {
          showForm: false,
          linkId: "122",
          orders: res.orders,

          // how do I get multiple inputs based on number of order_items? Currently a super ugly workaround (assumes max of 5 OrderItems and 1 DeliveryOrder)

          formData: {
              feedbacks: [{
                ratable_id: "",
                ratable_type: "",
                rating: 0,
                comment: ""
              },
              {
                ratable_id: "",
                ratable_type: "",
                rating: 0,
                comment: ""
              },
              {
                ratable_id: "",
                ratable_type: "",
                rating: 0,
                comment: ""
              },
              {
                ratable_id: "",
                ratable_type: "",
                rating: 0,
                comment: ""
              },
              {
                ratable_id: "",
                ratable_type: "",
                rating: 0,
                comment: ""
              },
              {
                ratable_id: "",
                ratable_type: "",
                rating: 0,
                comment: ""
              }],
          },

          // Something like this?

          // for (order_item of order) {
          //   formData.feedbacks.push({
          //     ratable_id: "",
          //     // ratable_id: res.orders[0].order_items[0].order_item_id,
          //     // ratable_id: res.orders[0].order_items[0].order_item_id,
          //     ratable_type: "",
          //     rating: 0,
          //     comment: ""
          //   })
          // },

        },

        computed: {
          order: function () {
            // `this` points to the vm instance
            return res.orders.find(item => item.id === this.linkId)
          }
        },

        methods: {

          handleClick: function(order_id) {
            this.showForm = true
            console.log(order_id)
            this.linkId = order_id
            console.log("clicked")
            console.log(this.linkId)
          },

          // Submit data
          handleSubmit: function() {

            console.log("submitted")
            console.log(itemRatableId)

            // loop to get data from handleSubmit(itemRatableId, orderRatableId)
            // Workaround: starts from 1 to avoid the DeliveryItem, but this array only contains itemRatableId for OrderItems, so use i-1
            for (i=1; i<=itemRatableId.length; i++) {
              this.formData.feedbacks[i].ratable_id = itemRatableId[i-1]
              this.formData.feedbacks[i].ratable_type = "OrderItem"
            }

            this.formData.feedbacks[0].ratable_id = orderRatableId
            this.formData.feedbacks[0].ratable_type = "DeliveryOrder"


            // taken from hidden input, might be able to replace using the same method as the OrderItem
            // this.formData.feedbacks[0].ratable_id = this.$refs.ratableId.value
            // this.formData.feedbacks[0].ratable_type = this.$refs.ratableType.value

            var url = 'https://food-delivery-api.herokuapp.com/orders/' + orderRatableId + '/feedbacks'

            fetch(url, {
                method: 'POST',
                body: JSON.stringify(this.formData),
                headers: new Headers({
                  'Content-Type': 'application/json'
                })
              }).then(res => res.json())
              .catch(error => console.error('Error:', error))
              .then(response => console.log('Success:', response))

            this.showForm = false
            alert("Thanks for your feedback!")
          },
        }
      })

    }).catch(function(error) {
      console.log(error)
    })

  </script>
</body>

</html>
